
/*-----------------------------header------------------------------------*/
li {
  list-style-type: none;

}


/* Pour centrer la liste du milieu */
#nav-center {
  gap: 20px;
}

/* Optionnel : pour aligner verticalement le logo et le titre */
.navbar .navbar-brand {
  margin-bottom: 0;
  
}

/* Optionnel : ajuster l'espace entre le logo et le titre */
.navbar img {
  margin-right: 10px;
}



.navbar {
  background-color: #06919b !important; 
}

.navbar-nav {
  gap: 15px; /* Espace entre les boutons */
}

.navbar-brand {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: white !important;
  
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;

}

.nav-link:hover {
  background-color: #226e6e !important;
  color: white !important;
  box-sizing: border-box; /* S'assurer que la taille totale ne change pas */

}


.nav-link.active {
  color: rgb(0, 0, 0) !important;
  background-color: #22e7f5; /* Un vert plus intense */
  border-radius: 5px;
  text-decoration: none;
  padding-top: 3px; /* Réduit la hauteur */
  padding-bottom: 3px; /* Réduit la hauteur */
  padding-left: 12px; /* Augmente la largeur */
  padding-right: 12px; /* Augmente la largeur */
} 

.navbar .nav-item {
  margin-right: 10px; /* Pour espacer un peu les items entre eux */
}
/*-------------------------------------------------------------------------------*/


/*card*/

h1{
  text-align: center;
}




  #page {
  display: grid;
  grid-template-columns: 1fr 300px 80px 300px 1fr; /* Colonnes symétriques */
  grid-template-rows: 180px auto; /* Ligne pour le texte et une pour les cartes */
  gap: 30px; /* Espacement entre les éléments */
}
/*----------------placement des cartes-----------------*/


#a {
  grid-column: 2 / 5; /* Centré horizontalement (2e à 4e colonne incluses) */
  grid-row: 1; /* Placé sur la première ligne */
  text-align: center; /* Centré horizontalement */
  margin-top: 50px; /* Ajoute un espace au-dessus du texte */
}

#b {
  grid-column: 2; /* Placé dans la 2e colonne */
  grid-row: 2; /* Sur la 2e ligne */
}

#c {
  grid-column: 4; /* Placé dans la 4e colonne */
  grid-row: 2; /* Sur la 2e ligne */
}
/*--------------------------------------------------*/
